<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shishkindenis.loginmodule">

    <application>
        <activity android:name=".activities.BaseActivity"></activity>
        <activity android:name=".activities.PhoneAuthActivity" />
        <activity android:name=".activities.EmailAuthActivity" />
        <activity android:name=".activities.MainLoginActivity" />
    </application>

</manifest>