<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shishkindenis.loginmodule">

    <application>
        <activity android:name=".view.BaseActivity"></activity>
        <activity android:name=".phoneAuth.view.PhoneAuthActivity" />
        <activity android:name=".emailAuth.view.EmailAuthActivity" />
        <activity android:name=".mainLogin.view.MainLoginActivity" />
    </application>

</manifest>